<div class="row">
  <div class="col-md-12">
    <h2>Padel Shops</h2>
    <p>List of padel shops offering to [Padel.org] player's community the best products, nice prizes and relevant discounts to the members.</p>


   <table class='table table-striped' style='font-size:10px; width:100%;'>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Location</th>
        <th>Products</th>
        <th>Offers</th>
        <th>Email</th>
        <th>Website</th>
        <th>Phone</th>
      </tr>

<tr>
        <td>image       </td>            
        <td>
        <h6><strong><a href='http://social-sport.org'>Paddel 4 you</a></strong></h6>
        </td>
        <td>c/ Urgell 184, 08021 Barcelona</td> 
        <td><h6><b>All for the paddel players. Best brands and prizes! Discounts for the padels.org members</b></h6></td>
        <td><h6><b><i>Dunlop PRO-PADEL 3 balls only 4€</i></b></h6></td>
            <td>Email:</td>  
            <td>Website:</td>
            <td>Phone:</td>
        </td>


    </table>
  </div>
</div>
