<h3>About Us</h3>
<p><%= image_tag("padels_100.jpg", size: "100x90", alt: "[Padels.org] facilitating Padelsocial in Barcelona", class: 'pages_text') %> Welcome to <b>[Padels.org]</b>. We are a community of padel players who are interested in playing padel matches in Barcelona metropolitan area.</p>

	<p>The platform's application is a search-matching engine (web and mobile apps) that lets registered users organise padel matches, in a court on a date, finding players in their categories, levels and preferences, and inviting them, sending an invitation message by emails.</p>

	<ul>The main sections of [Padels.org] are: 
	<li>Listing and sorting of players by categories, locations, levels, age, and other criteria of selection.</li>
	<li>Player's profile with all the full details and comments</li>
	<li>Calendar or sortable list of matches (data, location, players, results,...)</li>
	<li>Other information: Clubs and courts, padel's rules, shops, self-evaluation questionnaire, coaches and trainers, championships,...</li>

	<p>The Pàdel, Padel, Paddel, Paddel-Tennis,... sport is played for 4 players, 2 teams or pairs of 2 players. <a href='levels'>The APNTPR self-evaluation scale</a> classifies players by their different skill levels.</p>
	<ul>Player's levels:
		<li>1.0 Debutant</li>
		<li>2.0 Novice</li>
		<li>3.0 Intermediate</li>
		<li>3.5 Competent</li>
		<li>4.0 Qualified</li>
		<li>4.5 Advanced</li>
		<li>5.0 Expert</li>
		<li>5.5 Master</li>
		<li>6.0 Semi-professional</li>
		<li>7.0 Professional</li>
	</ul>
	<p>Usually the most commons are three medium levels 3, 4 and 5. The top-players are in 6 and 7 level that are reserved to semi-professionals and 'World Padel Tour' professionals players.</p>

	<p>Depending on the age, [padels.org] classifies members in 13 different categories of players. Athought, there are other ages divisions as other criteria used by padel federations, clubs and associations in organising championships.</p> 
	<ul>The age slots are:
		<li>1. Infantil +10</li>
		<li>2. Juvenil +15</li>
		<li>3. Junior +20</li>
		<li>4. Junior +25</li>
		<li>5. Senior +30</li>
		<li>6. Senior +35</li>
		<li>7. Senior +40</li>
		<li>8. Senior +45</li>
		<li>9. Senior +50</li>
		<li>10. Senior +55</li>
		<li>11. Veteran +60</li>
		<li>12. Veteran +65</li>
		<li>13. Veteran +70</li>
	</ul>

	<p>Depending on the player's gender, players could select the type of match theylike to play, with all-female, all-male, mix male and female, and in matches with female-male both pairs. 


 
		<p><b>Invite player to match</b><br/>List of invitations for playing a match. Before sending an invitation to a group of players you choose the selection criteria (gender, category, level, location,...). Remember! your email message will be sent initially to the first 25 players of your selected target group. This number will increase with your number of played matches. From players, contacted via email or through here, you will receive answers and proposals for arranging the match. If you know some details (days, hours, court,...) you can publish them for facilitating other players to contact you and progress quickly to the match organisation. When the match has four players, you have to close the match invitation.</p> 

		<p><b>Publish the match</b><br/>List of chronological competitive matches played or played matched of 'The Open Social Ladder'. After playing a match one player will publish the results of the competitive match, including: Date, Court, Players, Scores of competitive matches, some comments,... in order to be counted and shared. The number of matches and results (competitive matches) and the comments will branded you and attract other players to invite you to play.</b>


<p><b>[Padel.org]</b> is promoted and developed for <i>Ferran Cabrer i Vilagut</i> and MUFICATA RTDI SL company, into a major project <a href='http://social-sport.org'>[Social-Sport].org</a>, acting as umbrella. The first [Social-Sport] project is to develop a web and mobile application for facilitating padel sport in Barcelona metropolitan area. This area has around 5 millions people and more than 100 clubs and 250 courts.

<p>The firsts ambitious objectives is to build the platform and to reach a community of 1000 players using it at the end of 2016. This means playing more than ten matches per week, organising some community championships and publishing matches and courts</p>




