<h2>Clubs in Barcelona metropolitan area</h2>
<p>Here [Padel.org] will publish the list of available courts and clubs for playing padel in Barcelona metropolitan area.</p>
<p>Please send us the contact data (full address, phone, email, website,...) of your club and the padel details (number of courts, rent prizes for members and non-members, indoor/outdoor,...) and if you can a courts picture.