<div class='col-md-6'>
<h2>Player's Levels</h2>
<p><small>October 13, 2015</small></p>
<h3>What's APNTRP Padel adaptation?</h3> 
	<p><strong>The Adapted Padel of the National Tennis Rating Program (APNTRP)</strong> is the world-wide adapted and accepted system for determining the padel skill levels of players and competition. [Padels.org] uses this NTPR (source: http://www.usta.com/) in the Platform, Application and other programs for classifying players and competitions.</p> 
<h3>Purpose</h3>
<p> The primary goal of the program is to help all padel players enjoy the game by providing a method of classifying skill levels for more compatible matches, group lessons, league play, tournaments and other programs.</p>
<h3>To place yourself</h3>
<p> Begin with 1.5. Read all categories carefully and then decide which one best describes your present ability level. Be certain that you qualify on all points of all preceding levels as well as those in the level you choose.</p> 

<h3>General Characteristics of Various APNTRP Playing Levels</h3> 

<h3><stong>1.0 Debutant</stong></h3>
<p> You have limited experience and are working primarily on getting the ball in play.</p>

<h3><stong>2.0 Novice</stong></h3>
<p> You lack court experience and your strokes need developing. You are familiar with the basic positions for singles and doubles play. You are going to learn to judge where the ball is going, although your court coverage is limited. You can sustain a short rally of slow pace with other players of the same ability.</p> 

<h3><stong>3.0 Intermediate</stong></h3>
<p> You are fairly consistent when hitting medium-paced shots, but are not comfortable with all strokes and lack execution when trying for directional control, depth, or power. Your most common doubles formation is one-up, one-back. </p>

<h3><stong>3.5 Competent</stong></h3>
<p> You have achieved improved stroke dependability with directional control on moderate shots, but need to develop depth and variety. You exhibit more aggressive net play, have improved court coverage and are developing teamwork in doubles. </p>

<h3><stong>4.0 Qualified</stong></h3>
<p> You have dependable strokes, including directional control and depth on both forehand and backhand sides on moderate-paced shots. You can use lobs, overheads, approach shots and volleys with some success and occasionally force errors when serving. Rallies may be lost due to impatience. Teamwork in doubles is evident.</p> 

<h3><stong>4.5 Advanced</stong></h3> 
<p> You have developed your use of power and spin and can handle pace. You have sound footwork, can control depth of shots, and attempt to vary game plan according to your opponents. You can hit first serves with power and accuracy and place the second serve. You tend to overhit on difficult shots. Aggressive net play is common in doubles. </p>

<h3><stong>5.0 Expert</stong></h3>
<p> You have good shot anticipation and frequently have an outstanding shot or attribute around which a game may be structured. You can regularly hit winners or force errors off of short balls and can put away volleys. You can successfully execute lobs, drop shots, half volleys, overhead smashes, and have good depth and spin on most second serves. </p>

<h3><stong>5.5 Master</stong></h3>
<p> You have mastered power and/or consistency as a major weapon. You can vary strategies and styles of play in a competitive situation and hit dependable shots in a stress situation. </p>

<h3><stong>6.0 Semi-professional</stong></h3>
<p> You have had intensive training for national tournament competition at the junior and collegiate levels and have obtained a sectional and/or national ranking.</p> 

<h3><stong>7.0 Professional</stong></h3>
<p> You are a world-class player.</p>
	</div>
<div class='col-md-6'>
<h2>TRADUCION EN CASTELLANO</h2> 
	<h3><b>Niveles o clases de jugadores de padel</b></h3>
<h3>1.5</h3>
<p> Tiene limitada experiencia y aún está trabajando principalmente por poner la pelota en juego</p>

<h3>2.0</h3> 
<p> Necesita experiencia en cancha. Tiene una lógica debilidad en sus golpes, pero está familiarizado con las posiciones básicas para el juego de singles y dobles</p>

<h3>2.5</h3> 
<p> Éste jugador está aprendiendo a juzgar hacia dónde va la bola pero es deficiente en su intento por cubrir la cancha. Puede mantener un boleo corto de ritmo lento con jugadores del mismo nivel.</p>

<h3>3.0</h3> 
<p> Éste jugador tiene alguna consistencia cuando le da a bolas de ritmo mediano pero no se siente cómodo con todos los tiros y no ejecuta bien cuando intenta lograr control en la dirección de la bola, profundidad ni poder. La formación más común en dobles es uno al frente y otro atrás.</p>

<h3>3.5</h3> 
<p> Éste jugador ha logrado mejorar la confiabilidad de sus tiros con control de dirección en tiros moderados pero aún no tiene profundidad ni variedad en los tiros. Exhibe más agresividad en la malla, ha mejorado la ejecutoria cubriendo la cancha y está desarrollando el juego en equipo en dobles.</p>

<h3>4.0</h3> 
<p> Éste jugador tiene tiros confiables, incluyendo control de dirección y profundidad tanto en el forehand como en el backhand en tiros de ritmo moderado (“mediumpaced”). Logra algún éxito con los lobs, overheads y approach shots y ocasionalmente obliga a un error cuando sirve. A veces pierde el boleo por falta de paciencia. En dobles, es evidente la colaboración en equipo.</p>
<h3>4.5</h3> 
<p> Éste jugador ha desarrollado el poder y el “spin” y tiene buen control del ritmo del juego. iento de los pies, controla la profundidad de sus tiros e intenta variar el iendo de su contrincante. Su primer servicio es poderoso y certero y coloca icio. Tiende a excederse (“overhit”) en los tiros difíciles. En dobles, es esivamente en la malla.</p>
<h3>5.0</h3> 
<p> Éste jugador es bueno anticipando tiros y frecuentemente tiene un tiro o atributo el cual puede estructurar el juego. Puede ganar el punto o forzar errores regularidad y puede ganar los “volleys”. Sabe hacer un lob, drop shot, d smash exitosamente y logra profundidad y “spin” en la mayoría de los /p>
<h3>5.5</h3> 
<p> Éste jugador domina el poder / la consistencia y son un arma importante en su juego. Es strategia y el estilo de juego en una situación competitiva y hace tiros p>
<h3>6.0</h3>
<p>Éste jugador ha entrenado intensivamente para participar en torneos de competencias uvenil y universitario y ha obtenido clasificación seccional y/o nacional.
</<h3>6.5</h3> 
<p>Éste jugador actualmente juega en los eventos del circuito del World Padel Tour (WPT) con la esperanza de llegar a ser profesional.</p>
<h3>7.0</h3>
<p> Éste es un jugador professional del 'World Padel Tour' (WPT).</p>
</div>