<h2>Shops in Barcelona</h2>
<p>Here [Padel.org] will publish the list of available padel-specialists shops close to you where to find interesting offers and discounts for you.</p>
	<p>Please send us your contact data (shop name, full address, phone, email, website,...) of your shop and the padel products and services details (offers, description and discounts prizes for [padels.org] associates, timetable,...).</p>