<h2>Trainers in Barcelona</h2>
<p>Here [Padel.org] will publish the list of available trainers for training you.</p>
<p>Please send us your contact data (full address, phone, email, website,...) of you and the training services details (court, description and prizes for lessons, timetable,...).