	<h3>Reglamento de Juego – FIP - 26/08/2008</h3>
	<h4>REGLAMENTO DE JUEGO DEL PÁDEL</h4>
	<h4>FEDERACIÓN INTERNACIONAL PÁDEL</h4>

<h5>LA PISTA
• DIMENSIONES
El área de juego es un rectángulo de 10 metros de ancho por 20 metros de
largo (medidas interiores) con una tolerancia de 0.5%.
Este rectángulo está dividido en su mitad por una red. A ambos lados de
ella, paralelas a la misma y a una distancia de 6,95 m están las líneas de servicio.
El área entre la red y las líneas de servicio está dividida en su mitad por una línea
perpendicular a estas, llamada línea central de saque, que divide esta área en dos
zonas iguales. La línea central de saque se prolongará 20 cm. más allá de la línea
de servicio. Las dos mitades del campo deben ser absolutamente simétricas en lo
que se refiere a superficies y trazado de líneas. Todas las líneas tienen un ancho
de 5 cm.
La altura
mínima libre será
de 6 metros en
toda la superficie
de la pista, sin
que exista ningún
elemento (Ej.:
focos) que invada
dicho espacio.
Reglamento de Juego – FIP - Aplicación 01/01/2009
6 de 35
• RED
La red tiene una
longitud de 10 metros y una
altura de 0,88 metros en su
centro, elevándose en sus
extremos hasta un máximo
de 0,92 metros (con una
tolerancia máxima de 0.005
metros).
Se encuentra
suspendida por un cable
metálico de diámetro
máximo 0,01 metros, cuyos
extremos están unidos a
dos postes laterales de una
altura máxima de 1,05
metros o de la propia
estructura que lo sujetan y
tensan.
El dispositivo de
tensión del cable debe de
estar concebido de tal modo
que no se suelte de forma
inesperada y no constituya
un riesgo para los
jugadores.
Los postes de la red tienen sus caras exteriores coincidiendo con los límites
laterales de la pista (abertura, puerta o malla metálica). Pueden ser de sección
circular o cuadrada pero tendrán
sus aristas redondeadas.
La red se remata con una
banda superior de fondo blanco
de anchura entre 5,0 y 6,3 cm.
que una vez plegada, por su
interior va el cable de sujeción a
la red. Podrá llevar publicidad
siempre que esta sea de un solo
color.
Reglamento de Juego – FIP - Aplicación 01/01/2009
7 de 35
La red debe quedar totalmente extendida de manera que ocupe
completamente todo el espacio entre los postes y la superficie de la pista, no
dejando ningún espacio entre los extremos de la red y los postes, no obstante, no
debe de estar tensa.
Caso 1: ¿Puede existir un espacio entre la malla metálica o el plano
que la define y el poste de red? (ver figura)
Decisión: NO. Este tipo de pista ya no es reglamentaria.
Los hilos
constituyentes serán de
fibras sintéticas y el ancho
de malla será lo
suficientemente reducido
para evitar que la pelota
pase a su través.
• CERRAMIENTOS
La pista está cerrada en su totalidad, por fondos de 10 metros de longitud
interior y por laterales de 20 metros de longitud interior.
En todos los cerramientos se combinan zonas construidas con materiales
que permiten un rebote regular de la pelota y zonas de malla metálica donde el
rebote es irregular, de la siguiente manera:
• FONDOS
Con 4 metros de altura
total del cerramiento,
compuesto por tres primeros
metros de pared que puede
ser de cualquier material
transparente u opaco (cristal,
ladrillo, etc.) siempre que sus
características cumplan los
requisitos indicados en el
apartado “LATERALES” para
las paredes, y un último
metro de malla metálica. 
Reglamento de Juego – FIP - Aplicación 01/01/2009
8 de 35
• LATERALES
Reglamentariamente se admiten dos variantes en los cerramientos
laterales:
Variante 1
Compuesta por zonas escalonadas de pared en ambos extremos, de 3
metros de altura por 2 metros de longitud el primer paño y de 2 metros de altura
por 2 metros de longitud el segundo paño. Las zonas de malla metálica
completan el cerramiento hasta 3 metros de altura en los 16 metros centrales y
hasta 4 metros de altura en los dos metros extremos.
Variante 2
Compuesta por zonas escalonadas de pared en ambos extremos, de 3
metros de altura por 2 metros de longitud el primer paño y de 2 metros de altura
por 2 metros de longitud el segundo paño. Las zonas de malla metálica
completan hasta 4 metros la altura en toda la longitud del cerramiento.
Las dimensiones dadas son desde el interior de la pista.
Reglamento de Juego – FIP - Aplicación 01/01/2009
9 de 35
La malla metálica se coloca siempre alineada con la cara interior de las
paredes.
Las paredes pueden ser de cualquier material transparente u opaco (cristal,
ladrillo, etc.) siempre que ofrezcan la debida consistencia y un rebote de la pelota
regular y uniforme. Cualquiera que sea el material deberá tener un acabado
superficial uniforme, duro y liso sin rugosidad alguna para que permita el
contacto, roce y deslizamiento de pelotas, manos y cuerpos. El color de las
paredes opacas debe ser solo uno y de tonalidad verde, azul o pardo terrosa pero
claramente diferente al color que tenga el suelo. Se permitirá la impresión o
pintada de logotipos siempre que no haya más de uno por pared y su tamaño o
colores no alteren o dificulten la visión de los jugadores.
Para las pistas de cristal se deberán cumplir con las normas para vidrio
templado:
- Unión Europea: EN 12150-1.
La malla metálica deberá ser romboidal o cuadrada, pudiendo ser de simple
torsión o electrosoldada, siempre que el tamaño de su abertura (la medida de sus
diagonales) no sea inferior a 5 cm. ni superior a 7,08 cm. Se recomienda que el
grosor del diámetro del hilo de acero empleado está entre 1,6 mm. y 3 mm.,
autorizándose hasta un máximo de 4 mm., debiendo tener una tensión tal que
permita el rebote de la pelota sobre ella.
Si se utilizase malla electrosoldada todos los puntos de soldadura deben
quedar protegidos tanto en el interior de la pista como en el exterior, de modo
que no puedan producir cortes o arañazos. Si la malla electrosoldada no está
entrelazada su montaje se hará de forma cuadrada, no romboidal, y los hilos de
acero paralelos al suelo deberán quedar en el interior de la pista y los verticales
en el exterior.
Si la malla fuese de simple torsión los tensores deberán colocarse en el
exterior de la pista y también convenientemente protegidos. Las uniones o cosido
entre los rollos de malla no deben presentar elementos punzantes.
Tanto la malla electrosoldada como la de simple torsión deberán formar
una superficie plana y vertical y mantenerse de tal modo que estas características
no se pierdan.
Caso 2: Si se continuase con el mismo tipo de malla por encima de los
límites reglamentarios (ver variante 1 y 2) con objeto de evitar la salida de la
pelota fuera de la pista, se recomienda colocar a partir de los 3 ó 4 m., según
corresponda, una chapa de color blanco que permita diferenciar con claridad la
parte válida de juego de la que no lo es. La pelota que impacte en la chapa se
considera fuera de juego.
Reglamento de Juego – FIP - Aplicación 01/01/2009
10 de 35
• SUELO
La superficie de la pista podrá ser de hormigón poroso, cemento, madera,
materiales sintéticos, césped artificial, o cualquier otro que permita el bote
regular de la pelota.
El color del suelo debe ser solo uno, claramente diferente del de las
paredes, y de tonalidad verde, azul o pardo-terroso.
El pavimento tendrá una planeidad tal que las diferencias de nivel interiores
sean inferiores a 3mm medidos con regla de 3m (1/1000).
En pavimentos no drenantes las pendientes de evacuación máxima
transversal serán del 1% y siempre partiendo del centro hacia el exterior de la
pista.
Caso 3: En pavimentos no drenantes será válida la pendiente del 0%.
Los pavimentos sintéticos y de hierba artificial cumplirán los siguientes
requisitos:
- Unión Europea: conforme con el Informe UNE 41958 IN “Pavimentos
deportivos”
- Otros países: consultar normativas propias.
REQUISITOS
Absorción
impactos
(Reducción de
fuerza)
RF≥20% Hierba artificial
Fricción 0,4≤µ≤0,8 Hierba artificial
Bote vertical de la
Pelota ≥80%
Hierba artificial
Sintéticos
Relleno de Arena SiO2≥96%
CaO≤3%
Cantos redondeados
Granulometría:80%peso
∅16mm-1,25mm
longitud visible fibra 2mm-
3mm
Hierba artificial
• ACCESOS
Los accesos a la pista están situados en los dos laterales o en uno solo y en cada
uno de los laterales son simétricos en relación con el centro de los mismos.
Podrán existir una o dos aberturas por lateral, con o sin puerta (ver regla 16.
Reglamento de Juego – FIP - Aplicación 01/01/2009
11 de 35
Juego autorizado fuera de la pista). Si en una pista en que los huecos de acceso
no tuvieran puertas, se hubiera montado sobre el suelo, en la parte inferior de
los huecos, algún tipo de barra, metálica o de otro material, para reforzamiento
de la estructura, se deberá entender que forma parte de la misma a todos los
efectos reglamentarios. En el caso de que tal barra no existiera esa zona en la
vertical de la estructura se considerará interior de la pista, con independencia de
que tenga una línea pintada sobre ella.
Las dimensiones de las aberturas deben ser las siguientes:
1) Con un solo acceso por lateral: el hueco libre ha de tener un mínimo
de 1,05 x 2,00 metros y un máximo de 1,20 x 2,20 metros (Ver
figura).
2) Con dos accesos por lateral: cada hueco libre ha de tener un mínimo
de 0.72 x 2.00 metros y un máximo de 0,82 x 2,20 metros. (Ver
figura).
Reglamento de Juego – FIP - Aplicación 01/01/2009
12 de 35
Nota: Las instalaciones de uso público han de cumplir la normativa de
accesibilidad y supresión de barreras arquitectónicas para personas con movilidad
reducida.
La distancia mínima entre la pared del fondo y la cara más próxima de la
abertura será de 9 metros.
En caso de existir puertas, las manillas de estas deben estar colocadas por
el exterior de la pista, sin que existan resaltes hacia el interior.
• ZONA DE SEGURIDAD Y JUEGO EXTERIOR
Cada uno de los laterales de la pista deberá tener dos aberturas de acceso.
No deberá existir ningún obstáculo físico que impida la salida de la pista o que
esté situado fuera de ella en un espacio mínimo de dos metros de ancho, cuatro
metros de largo a cada lado y un mínimo de tres metros de altura (ver gráfico)
• ILUMINACIÓN
La iluminación artificial será uniforme y de manera que no dificulte la visión
de los jugadores, del equipo arbitral ni de los espectadores. Cumplirá la norma:
-Unión Europea: EN 12193 “Iluminación de instalaciones deportivas” y
contará con los siguientes niveles mínimos de iluminación:
Reglamento de Juego – FIP - Aplicación 01/01/2009
13 de 35
NIVELES MÍNIMOS DE ILUMINACIÓN
(exterior)
Iluminación
horizontal
E med (lux)
Uniformidad
E min/E med
Competiciones internacionales y nacionales 500 0,7
Competiciones locales, entrenamiento, uso
escolar y recreativo
200 0,5
NIVELES MÍNIMOS DE ILUMINACIÓN
(interior)
Iluminación
horizontal
E med (lux)
Uniformidad
E min/E med
Competiciones internacionales y nacionales 750 0,7
Competiciones locales, entrenamiento, uso
escolar y recreativo
300 0,5
→ Otros países: consultar normativas propias.
Las columnas de iluminación estarán situadas fuera de la pista. Si las
mismas estuviesen situadas en la zona de seguridad, el juego externo no estará
permitido.
La altura mínima medida desde el suelo hasta la parte inferior de los
proyectores ha de ser de 6 metros. 
Reglamento de Juego – FIP - Aplicación 01/01/2009
14 de 35
Para retransmisiones de TV color y grabación de películas se requiere un
nivel de iluminancia vertical de al menos 1000 lux, no obstante este valor puede
aumentar con la distancia de la cámara al objeto. Para mayor información debe
consultarse la norma citada.
• ORIENTACIÓN
Se recomienda que el eje longitudinal del campo en instalaciones al aire
libre sea N-S admitiéndose una variación comprendida entre N-NE y N-NO
Reglamento de Juego – FIP - Aplicación 01/01/2009
15 de 35
LA PELOTA
Las pelotas para su uso en
las competiciones oficiales de la
FIP serán aquellas aprobadas por
esta.
La pelota deberá ser una
esfera de goma con una superficie
exterior uniforme de color blanco
o amarillo. Su diámetro debe
medir entre 6,35 y 6,77 cm y su
peso estará entre 56,0 y 59,4 grs.
Deberá tener un rebote
comprendido entre 135 y 145 cm al dejarla caer sobre una superficie dura desde
2,54 m.
La pelota deberá tener una presión interna entre 4,6 Kg y 5,2 Kg por cada
2,54 cm cuadrados.
Cuando se juegue a más de 500 m de altitud sobre el nivel del mar, se
pueden utilizar otro tipo de pelotas, siendo idénticas al tipo antes descrito excepto
en que el rebote deberá ser de más de 121,92 cm y de menos de 135 cm.
Reglamento de Juego – FIP - Aplicación 01/01/2009
16 de 35
LA PALA
Se jugará con una pala
reglamentaria de pádel por lo que
la misma deberá ajustarse a
cuanto se indica a continuación.
La pala se compone de dos
partes: cabeza y puño.
- Puño: largo máximo:
20cm, ancho máximo (de cada
una de las horquillas, sin
considerar el espacio vacío entre
ellas): 50mm, grosor máximo: 50mm.
- Cabeza: largo: variable. El largo de la cabeza más el largo del puño no
puede exceder de 45,5cm, ancho máximo: 26cm, grosor máximo: 38mm.
El largo del total de la pala, cabeza más puño, no podrá exceder de 45,5
centímetros.
Al realizar el control de las medidas de la pala se permitirá una tolerancia
en el grosor de la misma del 2,5 %.
La superficie destinada al golpeo estará perforada por un número no
limitado de agujeros cilíndricos de 9 a 13mm de diámetro cada uno en toda la
zona central. Dentro de esa misma superficie podrá considerarse una zona
periférica de 4 centímetros medidos desde el borde exterior de la pala, en donde
los agujeros podrán tener otra forma o tamaño, siempre y cuando no afecten a la
esencia del juego.
La superficie destinada al golpeo, igual en sus dos caras, podrá ser lisa o
rugosa.
La pala estará libre de objetos adheridos y otros dispositivos, que no sean
aquellos utilizados sólo y específicamente para limitar o prevenir deterioros,
vibraciones y distribuir el peso. Cualquier objeto o dispositivo debe ser razonables
en medidas y colocación para tales propósitos. La pala no puede ser motivo de
distracción o molestia para los demás jugadores por lo que no podrá tener
elementos reflectantes o sonoros que de cualquier modo alteren o puedan alterar
el normal desarrollo del juego.
Deberá tener un cordón o correa no elástica de sujeción a la muñeca como
protección contra accidentes. Su uso será obligatorio. Este cordón deberá tener
una longitud máxima de 35 centímetros.
La pala debe estar libre de cualquier tipo de dispositivo que pueda
comunicar, avisar o dar instrucciones de cualquier tipo al jugador, ya sea de
forma visible o audible, durante el transcurso de un partido.
Reglamento de Juego – FIP - Aplicación 01/01/2009
17 de 35
Caso 1: Durante el transcurso del juego, un jugador rompe
accidentalmente la pala. ¿Puede continuar jugando con la pala en esas
condiciones?
Decisión: Sí, excepto que se rompa el cordón de seguridad o que la
rotura convierta la pala en un elemento peligroso
Caso 2: ¿Se permite que un jugador utilice más de una pala durante el
juego?
Decisión: Sí. No se permite durante el punto.
Caso 3: ¿Puede incorporarse a la pala una pila (batería) que afecte a
sus características de juego?
Decisión: No. Una pila (batería) está prohibida pues es una fuente de
energía, como una célula solar u otros accesorios similares. 
Reglamento de Juego – FIP - Aplicación 01/01/2009
18 de 35
REGLA 1. PUNTUACIÓN
• PUNTUACION
Cuando una pareja gana su primer punto se cantará “15”. Al ganar su
segundo punto se cantará “30”. Al ganar su tercer punto se cantará “40” y con el
cuarto punto ganado se cantará “juego”, excepto si ambas parejas han ganado
tres puntos, con lo que la puntuación recibe el nombre de “iguales”. El tanto
siguiente se denomina “ventaja” en favor del ganador y si el mismo vuelve a
ganarlo se adjudica el juego. En caso de perderlo, se volvería a “iguales”. Y así
sucesivamente hasta que uno de los participantes haya ganado dos puntos
consecutivos.
La pareja que primero gane 6 juegos, siempre con un mínimo de 2 de
ventaja, se anotará el set. En caso de empate a 5 juegos se deberán jugar dos
más, hasta ganar por 7-5, pero si se produce un empate a 6 juegos se aplicará el
"tie-break" o desempate.
Los partidos se jugarán al mejor de tres sets (una pareja necesita ganar
dos sets para hacerse con el partido).
En el caso de empate a un set, y siempre que se haya establecido
previamente, se podrá jugar el tercer set sin aplicar el “tie break” o desempate es
decir, si se produce empate a seis juegos, ganará aquel que consiga dos de
diferencia.
• MUERTE SÚBITA O "TIE-BREAK"
Durante el tie-break, se cantan los puntos “cero”,“1”, “2”, “3”, etc.
El "tie-break" lo ganará el primero que llegue a 7 puntos, siempre y cuando
lo haga con 2 de ventaja, por lo tanto la pareja gana el “juego” y el “set”. Si es
necesario, el tie-break continuará hasta que se consiga dicho margen.
El “tie break” se iniciará sacando el jugador al que le corresponda hacerlo
según el orden seguido en el set y lo hará desde el lado derecho de su pista,
jugándose un solo punto. A continuación, y respetando siempre el orden de saque
mencionado anteriormente, se jugarán dos puntos, empezando a hacerlo desde el
lado izquierdo, y así sucesivamente.
El vencedor del "tie-break" se anotará el set por 7-6.
En el set siguiente empezará a sacar un jugador de la pareja que no
hubiera empezado sacando el “tie break”.
Caso 1: ¿Quién comienza sacando el “tie break”?
El jugador que empezó sacando al principio del set. Excepto que ocurra lo
recogido en la Regla 6, apartado j)
Reglamento de Juego – FIP - Aplicación 01/01/2009
19 de 35
• MÉTODOS DE PUNTUACIÓN ALTERNATIVOS
→ TANTEO EN UN JUEGO
Método de tanteo “sin ventaja” (Punto de oro)
Se puede utilizar este método de puntuación alternativo.
Un juego se puntúa de la siguiente manera con el tanteo del sacador
cantado en primer lugar:
ningún punto - “cero”
primer punto - “15”
segundo punto - “30”
tercer punto - “40”
cuarto punto - “juego”
Si ambas parejas han ganado tres puntos cada uno, se cantará el tanteo de
“iguales” y se jugará un punto decisivo denominado punto de oro. La pareja
restadora elegirá si quiere recibir el servicio del lado derecho o del lado izquierdo
de la pista. Los componentes de la pareja restadora, no pueden cambiar de
posición para recibir este punto decisivo. La pareja que gane el punto decisivo
ganará el juego.
En mixtos, el jugador que sea del mismo sexo que el sacador restará el
punto decisivo, pero los jugadores de la pareja restadora no pueden cambiar de
posiciones para recibir el punto decisivo.
→ TANTEO EN UN SET
SETS A CUATRO O MINI SET:
La pareja que gane cuatro juegos ganará el set, siempre que le lleve dos
juegos de ventaja como mínimo a los contrarios. Si ambas partes alcanzan un
tanteo de cuatro juegos iguales, se jugará un tie-break de desempate.
TIE-BREAK DECISIVO DEL PARTIDO (7 PUNTOS):
Cuando el tanteo de un partido llegue a un set iguales, se jugará un tiebreak
para decidir el ganador del partido. Este tie-break decisivo sustituye al
último set.
La pareja que obtenga siete puntos ganará el tie-break y el partido,
siempre que lo haga con un margen mínimo de 2 puntos. 
Reglamento de Juego – FIP - Aplicación 01/01/2009
20 de 35
TIE-BREAK DECISIVO DEL PARTIDO (10 PUNTOS):
Cuando el tanteo de un partido llegue a un set iguales, se jugará un tiebreak
para decidir el ganador del partido. Este tie-break decisivo sustituye al
último set.
La pareja que obtenga diez puntos ganará el tie-break y el partido, siempre
que lo haga con un margen mínimo de 2 puntos.
Nota 1: Cuando se utilice el “tie break” decisivo para sustituir el set final:
• Continuará el orden de servicio original, aunque se podrá cambiar dentro
de la pareja el orden del servidor y la posición del restador.
Nota 2: No se cambiarán las pelotas al comienzo del “tie break” decisivo del
partido ni aunque correspondiera hacerlo.
REGLA 2. LOS TIEMPOS
El Juez Árbitro dará por perdido el partido (WO) a
cualquiera de las parejas cuyo/s jugadores no estén en la pista
preparado/s para jugar 10 minutos después de la hora prevista
para el inicio del mismo, salvo aquellos casos en los que el Juez
Árbitro considere que son consecuencia de fuerza mayor.
Caso 1: En el caso de la programación de horarios por turnos se
considerará como hora prevista para el inicio del partido cinco minutos después
de la finalización del anterior
El peloteo de cortesía con los contrarios, será de 5 minutos y obligatorio.
Como norma, el juego debería ser continuo, desde el momento en que se
inicie el partido (cuando se efectúa el primer servicio) hasta que se acabe por lo
tanto el partido nunca deberá suspenderse o retrasarse con el propósito de
permitir que un jugador recupere fuerzas o reciba instrucciones o consejos.
Entre puntos el tiempo máximo permitido es de veinte (20) segundos.
Cuando los jugadores cambien de lado al final de un juego, se concederá
un máximo de noventa (90) segundos. Después del primer juego de cada set y
durante un tie-break, el juego será continuo y los jugadores cambiarán de lado
sin ningún descanso.
Al final de cada set se concederá un descanso de ciento veinte (120)
segundos como máximo.
Reglamento de Juego – FIP - Aplicación 01/01/2009
21 de 35
Los tiempos anteriores empiezan en el momento en que acaba un punto y
finalizan cuando se inicia el servicio del siguiente punto.
Si por circunstancias ajenas a la voluntad del jugador, su ropa, calzado o
equipo necesario se rompe o necesita reemplazarse, se concederá un tiempo
adicional razonable al jugador para que resuelva el problema.
Anunciándolo antes del partido se podrá permitir un número limitado de
descansos para ir al aseo o cambiarse de ropa.
Se concederán 20 segundos para los cambios de campo en el “tie break”.
Si un partido debe ser suspendido por razones ajenas a los jugadores
(lluvia, falta de luz, accidente, etc.) al reiniciarse el partido las parejas tendrán
derecho a un peloteo de cortesía de acuerdo a lo siguiente:
a) Hasta cinco minutos de suspensión no hay peloteo.
b) De 5 a 20 minutos de suspensión, tres minutos de peloteo.
c) Más de 20 minutos de suspensión, cinco minutos de peloteo.
El partido deberá comenzar exactamente donde y como finalizó al
suspenderse, es decir, con el mismo juego y puntuación, el mismo jugador en el
servicio, la misma ubicación en los campos y la misma relación en el orden de
saques y restos.
Si la suspensión se debe a la falta de luz natural, se deberá parar el partido
cuando la suma de juegos sea par en el set que se este jugando, para que al
reiniciarlo queden ambas parejas en el mismo lado que cuando se produjo la
suspensión.
En el caso de que un jugador se lesione o esté afectado por una condición
médica tratable se le otorgarán 3 minutos para su atención o recuperación,
pudiendo volver a recibirla en los próximos dos descansos, pero dentro del tiempo
reglamentario. Si la suspensión se realiza durante un descanso el jugador podrá
recibir asistencia medica de 3 minutos dentro de dicha suspensión, pudiendo
volver a recibirla en los próximos dos descansos, pero dentro del tiempo
reglamentario.
Esta atención solo podrá dispensarse una vez por cada jugador y no se
podrá ceder este derecho a su compañero.
En caso de un accidente que no sea consecuencia directa del juego, y que
afecte a alguno de los jugadores, el Juez Árbitro, a su criterio, podrá conceder un
tiempo para su atención, que no exceda en ningún caso de 15 minutos.
Si un jugador tiene alguna herida sangrante no podrá continuar el juego.
Reglamento de Juego – FIP - Aplicación 01/01/2009
22 de 35
Caso 1: ¿Le cuenta turno de atención a un jugador, en caso de
accidente que no sea consecuencia directa del juego?
Decisión: NO. No le cuenta.
Caso 2: ¿Que tiempo de descanso o interrupción puede haber entre el
primer y el segundo servicio?
Decisión: Ninguno, el juego debe de ser continuo.

REGLA 3. POSICIÓN DE LOS JUGADORES
Cada pareja de jugadores se colocará en cada uno de los campos, ubicados
a uno y otro lado de la red. El jugador que ponga la pelota en juego es el que
saca (servidor) y el que contesta el que resta (restador).
El jugador que recibe puede colocarse en cualquier lugar de su campo, al
igual que su compañero y el compañero del servidor.
Caso 1: ¿Puede algún jugador estar fuera del terreno de juego
mientras se efectúa el saque?
Decisión. NO, no puede.
Caso 2: ¿Se permite que un componente de la pareja juegue solo
contra sus contrarios?
Decisión: SÍ, si el compañero permanece en el campo y saca y resta
cuando le corresponda.
REGLA 4. ELECCIÓN DE CAMPO Y DEL SERVICIO
La elección de campo y el derecho a ser el que saque o el que reste en el
primer juego, se decidirá por sorteo. La pareja que gane el sorteo podrá elegir
entre:
a) Sacar o restar, en cuyo caso la otra pareja elegirá el campo, o
b) El campo, en cuyo caso la otra pareja elegirá el derecho a servir o
restar, o
c) Solicitar a sus contrarios que elijan primero.
Reglamento de Juego – FIP - Aplicación 01/01/2009
23 de 35
Una vez decidido orden de saque y campo ambas parejas le comunicarán al
Árbitro quien va a ser el primer sacador y el primer restador.
Caso 1: ¿Tienen ambos parejas derecho a una nueva elección si se
detiene el calentamiento y los jugadores abandonan la pista?
Decisión: Sí. El resultado del sorteo original se mantiene, pero ambos
parejas pueden hacer nuevas elecciones.
REGLA 5. CAMBIOS DE CAMPO
Las parejas cambiarán de campo cuando la suma de los juegos disputados
de cada set sea número impar.
En el “tie break” los jugadores cambiarán de campo cada 6 tantos.
Si se comete un error y no se produce el cambio de campo, los jugadores
corregirán dicha situación tan pronto como sea descubierto el error, siguiendo el
orden correcto. Todos los tantos contados antes de advertirse el error son
válidos. En el caso en que al apercibirse del error se hubiese ya realizado un
primer servicio en falta solo se tendrá derecho a un servicio más.
Caso 1: Al final de un set tenemos un descanso de 120 segundos. Para
iniciar el siguiente set ¿tenemos que cambiar de campo?
Decisión: Si la suma del número de juegos del set finalizado es impar,
SI. En caso de que sea par, NO.
Caso 2: Al finalizar el primer juego de cada set, debemos cambiar de
campo. ¿Tenemos derecho a descanso?
Decisión: NO, no hay descanso.
REGLA 6. EL SAQUE O SERVICIO
Todos los puntos se inician con el saque. Si el primer saque es fallido se
dispondrá de una segunda oportunidad. El saque debe efectuarse de la siguiente
manera:
a) El que lo ejecute (el servidor) deberá estar en el momento de inicio
del servicio con ambos pies detrás de la línea de saque, entre la
prolongación imaginaria de la línea central de saque y la pared
lateral (Recuadro de Saque) y que los mismos permanezcan en ese
espacio hasta que la pelota sea golpeada. 
Reglamento de Juego – FIP - Aplicación 01/01/2009
24 de 35
b) El servidor botará la pelota en el suelo para efectuar el saque dentro
del recuadro de saque en que se encuentre.
c) El servidor queda obligado a no tocar con los pies la línea de saque,
ni la línea imaginaria continuación de la línea central.
d) En el momento de golpear la pelota en el saque, esta deberá estar a
la altura o por debajo de la cintura, y el jugador debe tener al menos
un pie en contacto con el suelo.
e) La pelota golpeada deberá pasar por encima de la red hacia el
recuadro de recepción de saque situado en el otro campo, en línea
diagonal, haciendo que el primer bote se produzca en dicho
recuadro, que incluye las líneas que lo delimitan, y en primer lugar
realizará el servicio sobre el recuadro de recepción de saque que
esté situado a su izquierda y, terminado el punto, el siguiente
servicio sobre el de su derecha, procediendo a partir de este
momento alternativamente.
f) Al sacar, el jugador no podrá andar, correr o saltar. Se estimará que
el jugador no ha cambiado de posición aunque realice pequeños
movimientos con los pies que no afecte a la posición adoptada
inicialmente.
g) En el momento de impactar la pelota o en un intento fallido con
intención de golpearla, el saque se considerará efectuado.
h) Si un saque es ejecutado inadvertidamente desde el recuadro de
saque no correspondiente, el error de posición deberá ser corregido
tan pronto como se descubra. Todos los tantos obtenidos en tal
situación son válidos, pero si ha habido una sola falta de saque antes
de apercibirse, esta debe ser tenida en cuenta.
i) La pareja que tenga el derecho a servir en el primer juego de cada
set, decidirá cual de los componentes de la misma comenzará a
servir. A su vez, al terminar el primer juego, la pareja que ha venido 
Reglamento de Juego – FIP - Aplicación 01/01/2009
25 de 35
restando pasará a sacar eligiendo el jugador que debe hacerlo y así
alternativamente durante todos los juegos de un set. Una vez
establecido el orden de servicio, este no puede ser alterado hasta el
comienzo del siguiente set.
j) Si un jugador saca fuera de su turno, el que hubiera tenido que
sacar debe hacerlo en cuanto se descubra el error. Todos los tantos
contados antes de advertirse el error son válidos, pero si ha habido
una sola falta de saque antes de apercibirse, ésta no debe ser tenida
en cuenta. En el caso de que antes de apercibirse del error se haya
terminado el juego, el orden de saque permanecerá tal como ha sido
alterado, hasta la finalización del set.
k) El sacador no efectuará el servicio hasta que el restador no esté
preparado. No obstante, el restador se adaptará al ritmo razonable
del sacador y estará listo para recibir el servicio cuando el sacador lo
esté para efectuarlo.
l) No se podrá alegar no haber estado listo para restar un servicio si se
ha intentado devolverlo. Si se demuestra que el restador no estaba
preparado, tampoco se podrá cantar falta.
Caso 1: ¿A que altura máxima podrá impactar la bola un jugador que
flexione las piernas en el momento del saque?
Decisión: A la que en ese momento esté situada su cintura o por debajo
de ella.
REGLA 7. FALTA DE SERVICIO
El servicio será falta si:
a) El servidor infringe lo dispuesto en la Regla 6. El Saque o Servicio.
Puntos del a) al f).
b) El servidor falla la pelota totalmente al intentar golpearla.
c) La pelota bota fuera del recuadro de recepción de saque, que incluye
las líneas que lo delimitan (las líneas son buenas).
d) La pelota golpea al servidor, a su compañero o cualquier objeto que
lleven consigo.
e) La pelota bota en el recuadro de recepción de saque contrario y toca
la malla metálica que delimita el campo antes del segundo bote.
f) La pelota bota en el recuadro de recepción de saque contrario y sale
directamente por la puerta en una pista sin zona de seguridad y
juego exterior. 
Reglamento de Juego – FIP - Aplicación 01/01/2009
26 de 35
Caso 1: He sacado y la pelota, antes de botar por primera vez en el
suelo, ha tocado alguna de las paredes de mi campo o la malla metálica o un
foco, pero pasa la red y bota en el recuadro de recepción de saque contrario. ¿Es
bueno el saque?
Decisión: NO, es falta.
Caso 2: Saco de globo y la pelota después de botar en el recuadro de
recepción de saque contrario sale directamente de la pista por encima de la
malla. ¿Es falta?
Decisión: NO
REGLA 8. EL RESTO O DEVOLUCIÓN DE SAQUE
a) El jugador que resta deberá esperar a que la pelota bote dentro de su
recuadro de recepción de saque y golpearla antes de que bote en el suelo
por segunda vez.
b) La pareja que recibe el saque en el primer juego de cada set decidirá cuál
de sus dos integrantes comenzará a restar, y dicho jugador continuará
recibiendo el primer servicio de cada juego hasta la terminación del set.
Cada jugador recibirá durante el juego alternativamente el saque y una vez
que el orden haya sido decidido, no podrá ser alterado durante ese set o
tie-break pero sí lo podrá hacer al principio de un nuevo set.
Si durante un juego o tie-break, el orden de resto es alterado por la pareja
que devuelve el servicio, deberá continuarse de esta forma hasta el final
del juego o tie-break en el que se ha producido la equivocación. En los
juegos siguientes de aquel set, la pareja adoptará la colocación escogida al
iniciar el mismo.
c) Si al jugador que resta o a su compañero les golpeara la pelota o la tocaran
con la pala antes de que hubiera botado, se considerará tanto del jugador
al servicio.
Caso 1: En el caso de las antiguas pistas donde se encuentran algunas
con picos verticales en la unión de la pared y la malla, es decir la pared y la malla
no están claramente en el mismo plano, cuando la pelota dé en la "esquina" o
"pico", el saque sólo se considerará válido si, tras botar en el suelo y dar en el
mencionado "pico", saliera oblicuamente en dirección al que resta, poniendo como
límite el rebasar la línea imaginaria que discurre desde el pico hasta el otro pico
(ver gráfico).
Reglamento de Juego – FIP - Aplicación 01/01/2009
27 de 35
Caso 2: Si la pelota botara dos veces seguidas dentro del recuadro de
recepción de saque del restador, aunque entre los dos botes hubiese tocado la
pared, el saque se considerará tanto para el servidor.
Caso 3: El jugador al resto en ningún caso puede volear la pelota
incluso aunque se encontrara fuera del recuadro de recepción de saque.
REGLA 9. REPETICION DEL SAQUE O “LET” DE SERVICIO
El servicio se repetirá (let) si:
a) La pelota toca la red o los postes que la sujetan y luego cae en el
área de servicio del restador siempre y cuando no toque la malla
metálica antes del segundo bote.
b) La pelota después de tocar la red o los postes (si estos están dentro
del área de juego) golpea a cualquier oponente o artículo que porten
o lleven puesto.
c) Se efectúa cuando el restador no esta preparado (Regla 6k).
Si el "let" se produjera en el primer servicio, este deberá repetirse. Si se
produjera en el segundo servicio, el que saca tendrá derecho sólo a un saque
más.
Caso 1: Pongo la pelota en juego, toca la red y el primer bote lo hace
en el cuadro de recepción que corresponde y el segundo, saliendo por la puerta,
fuera de la pista. ¿Se considera “let” o falta?
Decisión: Será “let” si se puede jugar la pelota fuera de la pista en caso
contrario es falta.
REGLA 10. REPETICIÓN DE UN PUNTO O “LET”
Un punto en disputa es "let" si:
a) La pelota se rompe durante el juego.
b) Cualquier elemento extraño al partido que se está jugando invade el
espacio de la pista.
c) En general, cualquier interrupción del juego debida a situaciones
imprevistas y ajenas a los jugadores.
El jugador que durante el juego considere que se ha producido una de las
situaciones que el reglamento califica como "let", deberá hacerlo saber de
inmediato al Juez Árbitro y no dejar que el punto en disputa continúe. Si lo
permitiera perderá el derecho a hacerlo posteriormente.
Reglamento de Juego – FIP - Aplicación 01/01/2009
28 de 35
Efectuada la petición de “let” le corresponde al Árbitro decidir si es
procedente, si no lo fuese el peticionario perdería el punto.
Caso 1: Si he cometido una falta en el primer servicio y he iniciado el
punto con el segundo servicio, ¿que pasa si durante ese punto se canta un “let”?
Decisión: Se repite el punto con derecho a dos servicios.
REGLA 11. INTERFERENCIA
Se considera interferencia cuando un jugador comete una acción, ya sea
deliberada o involuntaria, que moleste a su contrincante para la ejecución de un
golpe, el Árbitro, en el primer caso, concederá el tanto al contrincante y en el
segundo ordenará la repetición del tanto, "let", cuando el jugador que haya
molestado lo haya ganado.
REGLA 12. PELOTA EN JUEGO
La pelota será golpeada alternativamente por cada una de las parejas.
La pelota estará en juego desde el momento en que se efectúe un servicio
válido hasta que se cante “let” o el tanto quede decidido.
Si la pelota en juego golpea cualquiera de los elementos de la pista
después de haber botado sobre el suelo del campo que corresponda,
permanecerá en juego y deberá ser devuelta antes de que bote en el suelo por
segunda vez.
Se consideran elementos de la pista a las caras internas de las paredes, la
malla metálica que cierra la pista, el suelo, la red y los postes de la red. El
bastidor que enmarca las mallas electrosoldadas se considera a todos los efectos
como malla metálica.
Caso 1: Si la pelota bota sobre la parte alta del bastidor que forma la
malla, ¿debe continuar el juego?
Decisión: Si bota sobre el bastidor es buena y se debe jugar tanto si
vuelve hacia el interior de la pista como, en los casos en que esté permitido el
juego exterior, si lo hace hacia fuera.
REGLA 13. PUNTO PERDIDO
Una pareja perderá el tanto:
a) Si un jugador de la pareja, su pala o cualquier objeto que lleve
consigo, toca alguna parte de la red, incluidos los postes, o el 
Reglamento de Juego – FIP - Aplicación 01/01/2009
29 de 35
terreno de la parte del campo contrario, incluida la malla metálica,
mientras la pelota esté en juego.
1. Juego autorizado fuera de la pista. A partir de los 0.92 metros,
y sólo en el caso de que esté autorizado el juego fuera de la
pista, el poste vertical medianero entre puertas se considera
zona neutral para los cuatro jugadores, pudiendo estos tocarlo
o agarrarse a él.
b) Si la pelota bota por segunda vez antes de ser devuelta.
c) Cuando la pelota, después de botar en el campo propio
correctamente, salga por encima de los límites superiores (perímetro
exterior) de la pista (fondo y lateral) o por la puerta.
1. Juego autorizado fuera de la pista. Cuando la pelota, después
de botar en el campo propio correctamente, salga por encima
de la pared del fondo de la pista. Si saliera por encima de la
pared lateral o por la puerta se pierde el tanto cuando bote en
el suelo por segunda vez o toque un elemento externo ajeno a
la pista.
d) Si devuelve la pelota antes de que ésta haya sobrepasado la red.
e) Si un jugador devuelve la pelota, bien directamente o golpeando
primero en las paredes de su campo de tal forma que, sin botar
previamente, golpee cualquiera de las paredes del campo contrario,
la malla metálica o algún objeto ajeno a la pista que no esté situado
sobre el suelo del campo contrario.
f) Si un jugador devuelve la pelota, bien directamente o golpeando
primero en las paredes de su campo de tal forma que pegue en la
red o en sus postes y después, directamente en cualquiera de las
paredes del campo contrario, o en la malla metálica o en algún
objeto ajeno a la pista que no esté situado sobre el suelo del campo
contrario.
g) Si un jugador golpea dos veces seguidas la pelota (doble toque).
h) Si después de golpear la pelota uno de los miembros de la pareja
ésta toca al propio jugador, a su compañero o a cualquier objeto que
lleven consigo.
i) Si la pelota impacta en cualquiera de los componentes de la pareja o
de su equipación, excepto la pala, después de haber sido golpeada
por uno de los jugadores contrarios.
j) Si un jugador golpea la pelota y esta toca alguna de las mallas
metálicas o terreno de su propio campo o en algún objeto ajeno a la
pista que este situado sobre el suelo del campo propio.
Reglamento de Juego – FIP - Aplicación 01/01/2009
30 de 35
k) Si toca la pelota, lanzando contra ella la pala.
l) Si salta por encima de la red mientras el punto está en juego.
m) Al devolver la pelota sólo un jugador podrá golpearla. Si ambos
jugadores de la pareja, ya sea simultáneamente o consecutivamente
golpean la pelota, perderán el punto.
NOTA: No se considera doble toque cuando dos jugadores intentan
golpear la pelota simultáneamente pero sólo uno la golpea y el otro
golpea la pala de su compañero.
n) Si el jugador que golpea la pelota dentro de la pista lo hace con uno
o los dos pies fuera del terreno de juego, salvo que esté autorizado
el Juego fuera de la pista.
o) El jugador comete falta en su segundo saque.
Caso 1: ¿Qué ocurre si la pelota después de botar en mi campo
correctamente no sale de la pista por pegar en la red suplementaria que se pone
en algunas ocasiones por encima de la malla reglamentaria?
Decisión: Has perdido el punto.
REGLA 14. DEVOLUCIÓN CORRECTA
La devolución será correcta:
a) Si después de golpeada la pelota es voleada por cualquiera de los
jugadores de la pareja contraria o les da en el cuerpo o en alguna
parte de la ropa o en la propia pala.
b) Si la pelota después de golpeada bota directamente en campo
contrario o impacta primero en una de las paredes del campo propio
y a continuación bota directamente en el campo contrario.
c) Si la pelota bota en el campo contrario y después toca la malla
metálica o alguna de las paredes.
d) Si como consecuencia de la dirección y la fuerza del golpe, la pelota
bota en el campo contrario y se sale de los límites de la pista, o pega
en el techo o en los focos de la iluminación, o en cualquier objeto
ajeno a los elementos de la pista.
e) Si la pelota toca la red o sus postes, y después bota en el campo
contrario.
Reglamento de Juego – FIP - Aplicación 01/01/2009
31 de 35
f) Si la pelota en juego impacta en algún objeto situado en el suelo del
campo contrario y que sea ajeno a ese mismo juego (por ejemplo
otra bola).
g) Si la pelota tras botar en el campo propio retorna al campo del que
la lanzó y es golpeada en campo contrario, siempre y cuando, el
jugador o alguna parte de su ropa o la pala no haya tocado la red,
sus postes o el campo de los contrarios y la pelota cumpla lo
indicado en los puntos a) a f) anteriores.
h) Si se "acuchara" o se empuja la pelota se considerará correcta la
devolución siempre que el jugador no la haya golpeado dos veces, el
impacto se efectúe durante un mismo movimiento y no varíe
sustancialmente la salida natural de la pelota.
i) Si la pelota devuelta bota en campo contrario en el ángulo (esquina)
formado por una de las paredes y el suelo, se considerará devolución
correcta. (La bola familiarmente denominada "huevo" es buena).
j) Juego autorizado fuera de la pista. Si la pelota se golpea desde fuera
de la pista la devolución será válida si se cumple lo indicado en los
puntos anteriores de esta Regla.
Caso 1: Según el punto f) si la pelota bota sobre un objeto que esté
sobre el suelo del campo contrario la devolución es correcta, pero además ¿he
ganado el punto?
Decisión: No, el juego continúa.
REGLA 15. PUNTO GANADO
a) Si la pelota tras botar en el campo contrario, se saliera de la pista
por algún hueco o desperfecto de la red metálica o bien se quedara
enganchada en ésta.
b) Si la pelota tras botar en el campo contrario, se quedara inmóvil en
la superficie horizontal plana de un muro.
REGLA 16. JUEGO AUTORIZADO FUERA DE LA PISTA
Los jugadores están autorizados a salir de la pista y estando fuera golpear
la pelota siempre que la pista cumpla las condiciones establecidas en el Apartado
de La Pista, Zona de Seguridad y Juego Exterior.
Reglamento de Juego – FIP - Aplicación 01/01/2009
32 de 35
REGLA 17. SUSTITUCIÓN DE PELOTAS
Los organizadores de una competición deben anunciar por adelantado lo
siguiente:
a) la marca y el modelo de pelotas a utilizar;
b) el número de pelotas a utilizar en el juego (2 ó 3);
c) el cambio de pelotas estipulado, si lo hubiese.
Los cambios de pelotas, si los hubiese, se pueden hacer escogiendo una de
las siguientes alternativas para cada partido:
1. Después de un número determinado impar de juegos. El peloteo de
cortesía cuenta como dos juegos y el “tie break” como uno para el
cambio de pelotas.
No se hará un cambio de pelotas al principio de un “tie break”. En
dicho caso, el cambio de pelotas se retrasará hasta el comienzo del
segundo juego del set siguiente.
2. Al principio de un set.
En los casos en que las pelotas deban ser cambiadas después de un
número determinado de juegos y no lo sean en la secuencia correcta, se corregirá
el error cuando tenga que servir nuevamente la pareja que debería haberlo hecho
con las pelotas nuevas, antes de producirse dicho error. Después de ello, las
pelotas serán cambiadas de manera que el número de juegos entre los cambios
de pelota sea el originalmente previsto.
Cuando una pelota se pierda, se rompa, o por cualquier otra circunstancia
se deteriorase lo suficiente para diferenciarse de las otras el Árbitro supervisará
que la que se reponga esté en las mismas condiciones que las que se encuentran
en juego. De no ser así, cambiará el juego completo de pelotas. Debe de exigirse
que se disponga de dos pelotas por lo menos para poder iniciar el punto.
Reglamento de Juego – FIP - Aplicación 01/01/2009
33 de 35
NORMAS DE ETIQUETA Y CONDUCTA
• PUNTUALIDAD
Los partidos se sucederán sin demora en los horarios anunciados de juego.
El horario de los partidos se deberá publicar con el tiempo suficiente, siendo
obligación del jugador informarse del mismo. El orden de juego no podrá ser
cambiado sin la autorización del Juez Árbitro del torneo.
• INDUMENTARIA
El jugador deberá presentarse a jugar con ropa y calzado deportivo
adecuados, no permitiéndose camisetas de tirantes ni trajes de baño. En caso de
no cumplirlo será advertido de la falta, debiendo subsanarla, si no lo hiciese será
descalificado.
En las competiciones por equipos se recomienda que los jugadores lleven la
misma vestimenta, aunque no es obligatorio.
Los jugadores pueden utilizar el calzado, vestimenta, y palas que deseen,
siempre que sean reglamentarias.
En los torneos internacionales el equipo arbitral deberá llevar una
indumentaria que permita su identificación.
• IDENTIDAD
Los participantes deberán acreditar, cuando así lo solicite el Juez Árbitro, su
identidad, nacionalidad, edad y en general cualquier otra circunstancia
directamente relacionada con la competición, mediante la presentación de los
documentos oportunos.
CONDUCTA Y DISCIPLINA
Todo jugador deberá comportarse de forma cortés y educada durante todo
el tiempo que permanezca en el ámbito de cualquier competición, aunque no esté
participando en ella, y respetar a cualquier persona que se encuentre en la
misma.
Los técnicos, al igual que los jugadores, deberán comportarse
adecuadamente, teniendo en cuenta que las sanciones que los Árbitros pudieran
aplicar a aquellos en el partido se acumularán a las que pudieran recibir los
jugadores.
• ÁREA DE JUEGO.
Reglamento de Juego – FIP - Aplicación 01/01/2009
34 de 35
El jugador, o jugadores, no podrán dejar el área de juego durante un
partido, incluido el peloteo, sin la autorización del Árbitro. Entendiéndose por
Área de Juego la pista y los espacios contiguos que la delimitan.
• CONSEJOS E INSTRUCCIONES.
Cada pareja de jugadores podrá recibir consejos e instrucciones durante un
partido de un técnico debidamente acreditado, tanto en las competiciones por
parejas como en las de por equipos y siempre que se produzcan en los tiempos
de descanso.
• ENTREGA DE PREMIOS.
Los jugadores o equipos que disputen la final de un torneo deberán
participar en la entrega de premios que se realizará al finalizar la competición, a
menos que no puedan hacerlo por lesión o indisposición comprobadas, o
imposibilidad razonable.
• JUEGO CONTINUO Y/O DEMORA EN EL JUEGO.
Una vez iniciado el partido, el juego debe ser continuo y ningún jugador
podrá demorarlo sin causa razonable más allá de los tiempos permitidos en la
Regla 2, del Reglamento de Juego.
• OBSCENIDADES AUDIBLES Y VISIBLES.
Obscenidad audible se define como el uso de palabras comúnmente
conocidas y entendidas como de mala educación u ofensivas y ser dichas
claramente y con suficiente fuerza para ser oídas por el Juez Árbitro,
espectadores y organizadores del torneo.
Por obscenidades visibles hay que entender la realización de signos o
gestos con las manos, y/o pala o bolas que comúnmente tengan significado
obsceno u ofendan a gente razonable.
• ABUSO DE PELOTA.
Los jugadores no podrán en ningún momento tirar violentamente, en
cualquier dirección, una pelota fuera de la pista, o pasarla agresivamente al otro
lado de la red mientras no está en juego.
• ABUSO DE PALA O EQUIPO.
Los jugadores no podrán en ningún momento arrojar intencionadamente ni
golpear de forma violenta con la pala o de otro modo el suelo, la red, la silla del
Árbitro, las paredes, la malla metálica o cualquier otro elemento de las
instalaciones.
• ABUSO VERBAL Y ABUSO FÍSICO O AGRESIÓN.
Los comportamientos, actitudes y gestos agresivos y antideportivos de los
jugadores, que revistan una especial gravedad, cuando se dirijan al Juez Árbitro, 
Reglamento de Juego – FIP - Aplicación 01/01/2009
35 de 35
Árbitro, oponentes, compañero, espectadores o cualquier persona relacionada con
el torneo. Se juzgará como abuso verbal el insulto, así como cualquier expresión
oral que, sin ser considerada insulto, lleve intrínseco el menosprecio o notoria
jocosidad.
• MEJORES ESFUERZOS.
Todos los jugadores deberán realizar sus mejores esfuerzos para ganar el
partido en el que esté participando.
• CONDUCTA ANTIDEPORTIVA.
Los jugadores en todo momento deben comportarse de una manera
deportivamente correcta evitando cualquier acción que vaya en contra del espíritu
deportivo, o de la competición o, en general, del respeto a las normas
establecidas o al juego limpio.
• PENALIZACIONES/ TABLA DE PENALIZACIONES.
La infracción en el transcurso del partido de cualquiera de los aspectos
mencionados será sancionada por el Juez/Árbitro de la competición de acuerdo
con la Tabla de Penalizaciones que se expone a continuación. Con independencia
de lo anterior el Comité de Competición podrá imponer otras posibles sanciones
por el mismo hecho, resultado de la aplicación del Reglamento de Disciplina
Deportiva.
Tabla de Penalizaciones:
Primera infracción: Advertencia
Segunda infracción: Advertencia con pérdida de punto.
Tercera infracción: Advertencia con descalificación.
Las infracciones de los dos componentes de la pareja e incluso del técnico
acreditado de los mismos, son acumulables.
• DESCALIFICACIÓN DIRECTA.
En caso de infracción muy grave (agresión física o verbal muy grave) el
Juez/Árbitro podrá determinar la descalificación inmediata del jugador o técnico
que ha cometido la falta. Si la descalificación recae sobre un jugador que esté
jugando un partido, pierde el partido y el jugador descalificado tiene que
abandonar la competición. Si recae sobre un técnico, capitán o jugador
acreditados o inscritos en la competición que se esté celebrando quedan
descalificados y tienen que abandonar la misma.
CALGARY (CANADÁ) 26/08/2008
SEVILLA (ESPAÑA) 15/10/2009
RIVIERA MAYA (MÉXICO) 01/12/2010


      </div><!-- well -->
   </div><!-- md-4 -->
</div><!-- row -->
