<h4>Paddel rules of the UNITED STATES PADDLE TENNIS ASSOCIATION</h4>
<h5>Rule 1: Dimensions & Equipment</h5>
	<h6>Length</h6>
	<p>50' Base line to base line</p>
	<p>44' Service line to service line
	<p>20' Side line to side line
<p>A basic court shall be 50 feet long and 20 feet wide.
<p>There shall be a line 3 feet within the base line, known as the Service line.
	<h6>Lines</h6>
<p>(1) Service Line:  22' from net, 3' in front of base line, 20' wide with closed ends matching side lines, on each end of the court.
<p>(2) Center Line: Longitudinally through center of court, from service line to service line.
<p>(3) Restraint Line: (Where Authorized) 12' from the net, parallel to base line on each side of the net.
<p>(4) Base Line: 3' behind the service line, 20' side with closed ends matching side lines, on each end of the court.
<p>(5) General  Requirements:  
<p>(a) All lines shall be 2" wide.
<p>(b) All dimensions shall be measured to outside of lines, except for center line.
<p>(c) Lines for doubles and singles are identical.
	<h3>Net Posts & Nets</h3>
<p>The top of the net shall be exactly 31" above the surface for the entire width of the court, pulled taut by steel cable which shall pass over the tops of two posts which shall be 18" outside each side line. There shall be no more that one inch allowable sag at center if there is no steel cable and ratcher.
	<h4>Net Construction (Recommended)</h4>
<p>Heavy cotton, tarred, or Deluxe braided polyethylene; similar to Gold Medal Paddle Tennis Net; Douglas Net, and Carron Net with steel cable.
	<h4>Fence</h4>
<p>(1) Height: Minimum of 10' high
<p>(2) Length & Width: The net shall be 22' long by 2'6" wide.
	<h3>Rule 11: Service Let</h3>
<p>The service is a "let" if: 
<p>(1) The ball touches the net, strap or band, and is otherwise good, or after touching the net, strap or band, touches a Receiver or anything the receiver wears or carries.
<p>(2) A Serve, good or fault, is delivered when the Receiver is not ready.
	<h3>Rule 12: Receiver Become Server</h3>
<p>At the end of the first game the Receiver becomes the Server and vice versa, and so on alternately until the match is over.
<p>If a player serves out of turn the correct player shall serve as soon as the mistake is apparent, but all points scored shall remain as is. If an entire game shall have been completed before the mistake is apparent, the order of serve remains as altered.
	<h3>Rule 13: Ball In Play</h3>
<p>A ball is in play from the moment it has been served. Unless a "let" is called, it remains in play until the point is decided.
	<h3>Rule 14: Server's Point</h3>
<p>The Server wins the point if:
<p>(1) The served ball, not being a "let" under Rule 11, touches either player on the Receiving Team, or anything they wear or carry, prior to touching the ground.
<p>(2) The Receiver otherwise loses the point as noted under Rule 16.
	<h3>Rule 15: Receiver's Point</h3>
<p>  The Receiver wins the point if:
<p>(1)   The serve is a fault.
<p>(2)   The server loses the point as noted under Rule 16.
	<h3>Rule 16: Player Loses a Point</h3>
<br/>A Player loses point if:
<br/> 
<br/>(1)
<br/>A player returns any ball after a second bounce.
<br/>(2)
<br/>A player returns the ball in play so that it hits the ground, a permanent fixture, or other object, outside the <br/>opponent's court (excepting as provided in Rule 20(1) or 20(3).
<br/>(3)
<br/>A player volleys the ball without making a good return, even if standing out of the court.
<br/>(4)
<br/>A player carries, touches or strikes the ball with his/her paddle more than once during a stroke.
<br/>(5)
<br/>A player's person or paddle (in his/her hand or otherwise), or anything he/she wears or carries, touches the net, <br/>posts, cord or metal cable, strap or band, or the ground within the opponent's court at anytime while the ball is <br/>in play. (Rule 13)
<br/>(6)
<br/>A player volleys a ball before it has crossed the net. (Rule 20(4))
<br/>(7)
<br/>The ball in play touches a player or anything he/she wears or carries, except his/her paddle in his/her hand or <br/>hands or glove worn on his/her hand or hands holding onto the paddle.
<br/>(8)
<br/>A player throws paddle and hits the ball.
<br/>(9)
<br/>A player hits a ball in the gap between the net and post and lower than the net cord. It is a "pass thru" ball and <br/>the player loses the point, even though the balls lands in the proper court.
<br/>(10)
<br/>A player's momentum after or before hitting a ball causes his/her person or paddle or anything he/she wears or <br/>carries to contact the net, posts, cord or metal cable, strap or band, even if the point were otherwise <br/>technically completed.
<br/>(11)
<br/>A player strikes the ball with his/her paddle during service at a point higher than 31" above the court surface. (<br/>Rule 5)
<br/>(12)
<br/>A player returns a ball that hits a permanent fixture before hitting the ground. (Rule 19)
<br/>(13)
<br/>In doubles the paddles of both partners strike the ball in play during one stroke. (Rule 34)
<br/>(14)
<br/>A player violates the "Restraint" Rule, where Restraint ("Bucket") Rule is authorized. (Rule 35)
<br/>(15)
<br/>In singles, the Server hits the return of service as a volley. (Rule 36)
<br/>(16)
<br/>During service delivery a player footfaults or otherwise violates Rule 6.
<br/>(17)
<br/>A served ball touches Server's partner. (Rule 33)
<br/>(18)
<br/>A player deliberately hinders their opponent from making a stroke. (Rule 17)
<br/>(19)
<br/>A player footfaults by standing out of the prescribed area. (Rule 6)
<br/>(20)
<br/>A player misses the ball while attempting to serve, or the served ball touches a permanent fixture before hitting <br/>the ground. (Rule 8)
<br/>(21)
<br/>In serving, a player drops the ball in front of the base line. (Rule 5)
<br/>(22)
<br/>A player hits a ball that hits that part of the net post that protrudes above the net.
<br/>Rule 17: Hindering an Opponent
<br/>If a player deliberately hinders his opponent from making a stroke, the umpire shall award the point to the <br/>opponent; or if involuntary, the point shall be replayed.
<br/>Rule 18: Line Balls
<br/>A ball falling on or touching a line is regarded as being "good."
<br/>Rule 19: Permanent Fixture Hit
<br/>
<br/>If a ball hits a permanent fixture (other than the net, posts, cord or metal cable, strap or band) after hitting <br/>the ground in play, the player who struck the ball wins the point; if before hitting the ground, the opponent wins <br/>the point.
<br/>Rule 20: Good Return
<br/> 
<br/>It is a good return if:
<br/> 
<br/>(1)
<br/>The ball hits the net, posts, cord or metal cable, strap or band provided that it passes over any of them and <br/>lands in the proper court.
<br/>(2)
<br/>A ball served or returned hits the ground in the proper court and rebounds back over the net, and the player whose <br/>turn it is to hit the ball reaches over the net and plays the ball, provided that neither he nor any part of his <br/>clothing, or paddle touches the net, posts, cord, or metal cable, strap or band or the ground within his <br/>opponent's court, and that the stroke is otherwise good.
<br/>(3)
<br/>The ball is returned outside the post, either above or below the top of the net, even if it touches the post, <br/>provided it hits in the proper court and the post is flush with the net.
<br/>(4)
<br/>A player's paddle follows through over the net after he has returned the ball, provided the ball passes to his <br/>side of the net before being played, and it is properly returned.
<br/>(5)
<br/>The ball lands in the proper court despite the fact that it made contact with the paddle hand or hands, unless <br/>such contact was made intentionally.  
<br/>
<br/>
<br/><br/>Dimensions fence to fence are:    Tournament 40' wide x 80' long.
<br/><br/>
<br/><br/>
<br/><br/>Court Surfaces   (The same as for conventional tennis courts.)
<br/><br/>
<br/><br/>(1) Composition:
<br/><br/>
<br/><br/>Textured acrylic finish, similar but not limited to Plexipave, Laycold, Kemiko, Play-On, etc.; also Clay, <br/>Har-Tru, <br/>Omni-Turf and Mod-Sod.
<br/><br/>
<br/><br/>(2) Color (Suggested):
<br/><br/>
<br/><br/>Hard court playing surface to be green or light-blue; side and rear areas to fencing to be Terra-cotta.
<br/><br/>
<br/><br/>(3) Lighting:
<br/><br/>
<br/><br/>(1) Height:
<br/><br/>
<br/><br/>Pole mounted lighting fixtures to be not less than 20' high.
<br/><br/>
<br/><br/>(2) Brightness:
<br/><br/>
<br/><br/>30 footcandles reading at court surface evenly distributed. (Recommended)
<br/><br/>
<br/><br/>Ball & Paddle
<br/><br/>(1)
<br/><br/>
<br/><br/>The Ball shall be a pressurized tennis ball approved by the United States Tennis Association for tournament <br/>play <br/>which has its internal pressure reduced by being punctured so that when dropped from a height of 6'0" to <br/>the <br/>playing court surface, the bounce will be not less than 31" nor more than 33". Puncturing with a <br/>hypodermic needle <br/>or safety pin is a simple method of achieving the required bounce.
<br/><br/>
<br/><br/>(2)
<br/><br/>
<br/><br/>The Paddle shall be made of solid material or materials, and shall be not more than 9 1/2" x 18". It may be <<br/>br/>perforated and/or textured, but shall contain no strings; all paddles are subject to approval by the U.S. <br/>Paddle <br/>Tennis Association.
<br/><br/>
<br/><br/>
<br/><br/>Attire
<br/><br/>  (1)   Shoes must have non-marking rubber soles.
<br/><br/>  (2)   Players must wear proper court attire.
<br/><br/>
<br/><br/>Rule 2: Permanent Fixtures
<br/><br/>
<br/><br/>Permanent court fixtures include: The net, posts, cords, or metal cable, strap and band, back and side stops, <br/><br/>chairs and their occupants, umpires, judges, linesmen, ball persons when in their assigned positions and all <br/>other <br/>fixtures above or around the court.
<br/><br/>Rule 3: Server & Receiver
<br/><br/>
<br/><br/>The players stand on opposite sides of the net. The player who serves the ball shall be called the Server. <br/>The <br/>player receiving shall be called the Receiver. (Serving team or Receiving team)
<br/><br/>Rule 4: Choice of Side & Service
<br/><br/>
<br/><br/>The player who wins the toss or paddle spin may choose or require his opponent to choose -
<br/><br/>(1)
<br/><br/>The right to serve or receive, in which case the other player shall choose the side; or
<br/><br/>(2)
<br/><br/>The side, in which case the other player shall choose the right to serve or receive.
<br/><br/>Rule 5: Service
<br/><br/>
<br/><br/>Only one serve is allowed. The Server shall stand behind the base line and within the imaginary extensions of <br/>the <br/>center and side lines. The server shall then project the ball by hand into the air and strike it with the <br/>paddle <br/>at a point not higher than 31" above the court surface at the instant of impact; or, the Server may <br/>bounce or drop <br/>the ball to the court surface behind the base line and strike it with the paddle upon its <br/>rebound at a point not <br/>higher then 31" above the court surface. Delivery shall be deemed complete at the <br/>instant of impact of paddle and <br/>ball.
<br/><br/>The Server may choose either method of serving, that is bouncing the ball or projecting it into the air <br/>before <br/>striking it with the paddle. However, whichever alternative he chooses, he must continue to serve in <br/>that manner <br/>for the entire set. In other words, he cannot switch from a bounce serve to the projecting serve <br/>at will; although <br/>he may change his manner of serving at the commencement of a new set.
<br/><br/>
<br/><br/>The serve must land within the service area on the Receivers side diagonally from where the Server stands. If <br/>the <br/>serve fails to land within said area or if the Server strikes the ball higher than 31" above the court <br/>surface at <br/>the instant of impact the serve is a fault and the Server loses that point.
<br/><br/>
<br/><br/>One ball only shall be used during a set. Server may not substitute another ball during an unfinished set <br/>without <br/>consent of opponent or tournament official, nor may Server hold another ball when serving.
<br/><br/>
<br/><br/>Rule 6: Foot Fault
<br/><br/>
<br/><br/>The Server, shall throughout the delivery of the Service:
<br/><br/>Not touch, with either foot, any area other than behind the base line within the imaginary extensions of the <<br/>br/>center line and side line before contact is made between the ball and paddle.
<br/><br/>
<br/><br/>If this rule is violated, a foot fault shall be called and the Serving Team will lose the point.
<br/><br/>
<br/><br/>Rule 7: Alternate Courts
<br/><br/>(1)
<br/><br/>Service shall begin in the right hand or "deuce" court at the start of every game and shall progress from <br/>there to <br/>the left hand or "ad court," thus alternating at each point until the game is completed. If the ball <br/>is served <br/>from the wrong court, and is not detected, all points scored will stand, but the correct station <br/>shall be assumed <br/>immediately after the mistake is discovered.
<br/><br/>(2)
<br/><br/>The Served ball shall land in the diagonal court in that area bounded by the service line (not the base <br/>line), the <br/>longitudinal center line, and the net.
<br/><br/>Rule 8: Fault
<br/><br/>
<br/><br/>It is a Fault if:
<br/><br/>(1) The Service breaches any part of rules 5 or 6.
<br/><br/>
<br/><br/>(2) The Server, in attempting to serve, misses the ball.
<br/><br/>
<br/><br/>(3) The ball served touches a permanent fixture (other than the net, strap or band) before hitting the ground.
<br/><br/>
<br/><br/>Rule 9: Receiver
<br/><br/>
<br/><br/>The ball may not be served until the Receiver is ready. If he attempts to return a serve, he is deemed <br/>"ready." If <br/>the Receiver indicates he is "not ready", and the service is a fault, he may not claim the point. <br/>The serve is <br/>replayed as a "let" ball.
<br/><br/>Rule 10: Let
<br/><br/>
<br/><br/>When a "let" is called under the rules, or to provide an interruption to play, the point shall be replayed.  <br/>
<br/>
<br/>Rule 21: Interference
<br/>
<br/>If a player is hindered in making a stroke by anything not within his control, except a permanent court fixture or <br/>except as noted under Rule 17, the point shall be replayed.
<br/>
<br/>Rule 22: Game
<br/>
<br/>Sequential scoring of points won is:
<br/>
<br/>     1st point - 15
<br/>     2nd point - 30
<br/>     3rd point - 40
<br/>     4th point - Game
<br/>Rule 23: Set
<br/>(1)
<br/>A set may consist of one in which the first player or team to win 6 games wins the set, providing he has at least <br/>a 2-game margin over opponent, until the score reaches 6 games to 6 games, at which point the tie-breaker <br/>procedure is invoked (Rule 37), or
<br/>(2)
<br/>A set may consist of one in which the first player to win 8 games wins the set, providing he has at least a 2-game <br/>margin over opponent, until the score reaches 8 games to 8 games, at which point the tie-breaker procedure is <br/>invoked (Rule 37), or
<br/>(3)
<br/>A set may consist of one in which the first player to win 6 games wins the set, providing he has at least a 2-game <br/>margin over opponent. If this is not the case, then play continues until a 2 game margin is established, except <br/>that a tie-breaker will be played if games reach 12 all, or
<br/>(4)
<br/>A set may consist of one in which the first player to win 8 games wins the set, providing he has at least a 2-game <br/>margin over opponent. If this is not the case, then play continues until a 2 game margin is established, except <br/>that a tie-breaker will be played if games reach 12 all.
<br/>(5)
<br/>The discretion of the Tournament Referee or Tournament Director controls as to what type of the above sets may be <br/>played.
<br/>Rule 24: Changing Sides
<br/>
<br/>Players shall change sides at the end of each "odd" game (one, three, five, etc.) except during the tie-breaker <br/>play and at the end of each set, unless total number of games of such set be even, in which case they "stay for <br/>one" and change after the first game of the next set.
<br/>
<br/>Rule 25: Maximum Sets
<br/>
<br/>In tournament play a match shall consist of one 8-game pro set, or best two out of three standard six game sets at <br/>the option of the tournament director. (Rule 23)
<br/>
<br/>Rule 26: Score
<br/>
<br/>The Server's score is always called first.
<br/>
<br/>Rule 27: Decisions
<br/>
<br/>Decisions of the Umpire are final for each match and/or tournament. If a Referee is appointed, Umpire's decisions <br/>may be appealed to him for final decision on a question of law only, not of fact. If not, they may be appealed to <br/>the Tournament Director. The Referee or Tournament Director may at his discretion postpone a match on account of <br/>darkness, weather, or ground conditions. In the event of postponement, the score and court positions shall hold <br/>upon resumption of play unless the Referee and players unanimously agree otherwise.
<br/>
<br/>Rule 28: Play Shall Be Continuous
<br/>
<br/>Play shall be continuous from beginning of match to the end, except:
<br/>
<br/> 
<br/>(1)
<br/>Players may towel down a maximum of 60 seconds while changing courts (baseline to baseline).
<br/>(2)
<br/>Players may have 10 minutes rest between second and third sets.
<br/>(3)
<br/>Players have 15 seconds between points.
<br/>(4)
<br/>Suspension of play should not be for the purposes of receiving instructions or to enable a player to recover his <br/>wind or strength.
<br/>(5)
<br/>The Umpire has the prerogative of disqualifying a player he feels is guilty of delay, interference, or suspension, <br/>after giving the player due warning.
<br/>(6)
<br/>A player unable to play because of physical unfitness or fatigue must be defaulted; in the case of an accidental <br/>injury, the umpire may allow a suspension of play. The duration of the suspension will be at the discretion of the <br/>Tournament Director.
<br/>(7)
<br/>The Umpire, after giving due warning, should default a player whom he determines is deliberately stalling for time.
<br/>Rule 29: Order of Service (Doubles)
<br/>
<br/>The order of service shall be determined at the beginning of each set. In doubles if one player serves the first <br/>game, his partner will serve the third, alternating on the "odd" games. The player on the opposing team will serve <br/>the second game, his partner the fourth, alternating on "even" games.
<br/>
<br/>Rule 30: Order of Receiving (Doubles)
<br/>
<br/>The order of receiving shall be determined at the beginning of each set.
<br/>
<br/>The Receiving team shall determine which player will receive in which court, and they shall continue this <br/>formation every time they are receivers throughout the set. The opposing pair shall do likewise. Partners must <br/>receive service alternately throughout the game.
<br/>
<br/>The Server's partner may stand anywhere, on his side of the net, he desires providing he does not violate the <br/>Restraint Rule, where the Restraint Rules is authorized. (Rule 35).
<br/>
<br/>Rule 31: Serve Out of Turn (Doubles)
<br/>
<br/>If a player serves out of turn, the correct player shall serve as soon as the mistake is discovered, but all <br/>points scored before the discovery shall be counted. If a game has been completed before the discovery, the order <br/>of service shall remain as altered.
<br/>
<br/>Rule 32: Receive Out of Order (Doubles)
<br/>
<br/>If, during a game, the order of receiving is changed by the Receivers, it shall remain as altered until the end of <br/>the game, but the partners shall resume their correct order of receiving in the next game of the set in which they <br/>are Receivers.
<br/>
<br/>Rule 33: Served Ball Touches Player (Doubles)
<br/>
<br/>If a served ball touches the Server's partner, or anything he wears or carries, before hitting the ground, the <br/>Server loses the point.
<br/>
<br/>If a served ball hits the Receiver or the Receiver's partner, or anything they wear or carry, before hitting the <br/>ground the Server wins the point.
<br/>
<br/>Rule 34: Ball Struck Alternately (Doubles)
<br/>
<br/>The ball shall be struck alternately by one or the other of the opposing pairs.
<br/>
<br/>Note:   This does not mean that the partners themselves have to alternate in making returns.
<br/>
<br/>
<br/>Rule 35: Restraint (Doubles)
<br/>
<br/>Both feet of all players must be clearly behind the "Restraint" line until clearly after the Receiver's paddle <br/>strikes the ball. A player may lean into the "bucket" area as long as his feet are behind the "Restraint" line. <br/>Foot progress into the "bucket" area simultaneous, or nearly so, with the paddle vs. ball impact constitutes a <br/>violation and the point shall be awarded to the other side.
<br/>
<br/>If there is a reasonable doubt as to the violation, the Umpire may call a "let" and the point shall be replayed. <br/>Restraint ends for the Receiving team the moment the Receiver crosses the Restraint line prior to contact being <br/>made in order to return a short serve.
<br/>
<br/>The Receiver's paddle must contact the service in order for play to continue. Receiver may not swing at a served <br/>ball, miss and charge the Server with violation of the Restraint Rule.
<br/>
<br/>Note: The above Restraint Rule (commonly called the "Bucket" Rule) prevails only where it is authorized. Paddle <br/>Tennis doubles can be played with or without the Bucket Rule, depending on the determination of the respective <br/>Tournament Director for each tournament; that fact to be indicated in advance on announcements and entry forms for <br/>the tournaments.
<br/>
<br/>
<br/>Rule 36: Singles Play Only
<br/>
<br/>Each player must allow the ball to bounce once on his side (exclusive of dropping the ball behind the baseline) <br/>before being permitted to volley for the first time. In other words, the Server must allow the Receiver's return <br/>to hit on his side of the court for the first shot following the serve. This is sometimes known as the "two <br/>bounce" rule.
<br/>
<br/>Rule 37: Tie Breakers
<br/>
<br/>The same procedure is used for both singles and doubles.
<br/>
<br/>The tie-breaker comes into play if a set reaches 6 games all, 8 games all or 12 games all, depending on the type <br/>of set played. (Rule 23)
<br/>
<br/> 
<br/>(1)
<br/>The first team to reach 7 points wins the set providing they have a 2 point margin. If not, play continues until a <br/>2 point margin is established by one team over the other.
<br/>(2)
<br/>The team whose turn it is to serve shall put the ball into play for the first point.
<br/>(3)
<br/>The set scores at the completion of the tie-breaker shall be recorded as 7 games to 6, 9 games to 8, or 13 games <br/>to 12, depending on the type of set being played. (Rule 23)
<br/>(4)
<br/>The team receiving service for the first point of the tie-breaker shall begin serving the next set from the <br/>opposite side from which it received the first point. Teams change sides after the first point.
<br/> 
<br/>
<br/>Doubles Sequence (Players A & B versus players C & D)
<br/>
<br/>(1)   Player A serves point 1 from the Ad court.
<br/>(2)   Change sides
<br/>(3)   Player C serves points 2 & 3
<br/>(4)   Player B serves points 4 & 5
<br/>(5)   Changes sides
<br/>(6)   Player D serves points 6 & 7
<br/>(7)   Player A serves points 8 & 9
<br/>(8)   Etc., this rotation continues until one team has a 2 point margin.
<br/>
<br/>Singles Sequence
<br/>
<br/>(  1)   Player A serves point 1 from the Ad court.
<br/>(  2)   Change sides
<br/>(  3)   Player B serves points 2 & 3
<br/>(  4)   Player A serves points 4 & 5
<br/>(  5)   Changes sides
<br/>(  6)   Player B serves points 6 & 7
<br/>(  7)   Player A serves points 8 & 9
<br/>(  8)   Change Sides
<br/>(  9)   Player C serves points 10 & 11
<br/>(10)   Player B serves points 12 & 13
<br/>(11)   Changes sides
<br/>(12)   Player D serves points 14 & 15
<br/>(13)   Etc..., This rotation continues until one player has a 2 point margin.
<br/>Note: Except as noted herein, the rules of play and scoring of the United States Tennis Association shall govern.  <br/>This code shall be strictly enforced at all sanctioned tournaments by the tournament committee, tournament <br/>director, Paddle Tennis Association Board of Directors, and/or linesmen, umpires or referees.
<br/>Code of Conduct & Behavior
<br/>
<br/>I. Profane or Abusive Language
<br/>
<br/>Any player who uses language that is disrespectful to players, linesmen, umpires, referees or spectators shall be <br/>penalized as stated in this section. Said language includes profanity or conduct that is hostile or abusive.
<br/>
<br/>The fines may be issued by linesmen, umpires, referees or the tournament director. No player may be defaulted <br/>without two warnings.
<br/>
<br/>During the course of each match a player who violates the rules under Section I shall be penalized as follows:
<br/>
<br/>     1st offense:  loss of point
<br/>     2nd offense:  loss of game
<br/>     3rd offense:  default of match / $30.00 fine*
<br/>II. Flagrant Paddle Throwing
<br/>
<br/>Any player who intentionally and flagrantly and without respect for the safety of others throws their paddle shall <br/>be fined $100.00. Upon the 2nd instance, player shall be fined an additional $100.00 and defaulted from the <br/>tournament.
<br/>
<br/>III. Failure to Referee
<br/>
<br/>A player may be required to call lines following a winner's or loser's bracket match, or at the discretion of the <br/>tournament director. A player who fails to call lines when required shall be fined $25.00.
<br/>
<br/>The linesman may be replaced by suitable replacements if approved by the tournament director prior to the <br/>commencement of the match or during the match.
<br/>
<br/>IV. Dress Code
<br/>
<br/>Proper court attire may be required at the discretion of the tournament director or local club rules.
<br/>
<br/>V. Payment of Fines
<br/>
<br/>Said player who incurs a fine will not be allowed to participate in any USPTA sanctioned event without first <br/>paying their fine. All fines are paid to the USPTA.
<br/>
<br/>*Fine
<br/>
<br/>Flagrant abuse before or after default including but not limited to abusive language, throwing paddle, etc. Fines will be determined at the discretion of the Paddle Tennis Associaton Board of Directors or each affiliate where the offense occurs may handle its complaints. A letter will be sent to violating players. Players have 30 days from the date of the default to appeal. Their appeal must be in writing and sent to the USPTA Board of Directors or affiliate. A date for the hearing will be set with not more than five nor less than three board members. The player may present his/her case including any witnesses. Vote of the Board will be final and decision will be sent in writing within seven days.

	</p>
