<h1>The best offers for you!</h1> <%= link_to 'New played match', new_contact_path, class:'btn btn-success pull-right' %>
<p>List of available offers,... Look at the details to know more.</p>

<div class='well'>
  
    <table class='table table-striped'>
      <tr>
        <th></th>
        <th><select>
          <option value="Training">Training</option>
          <option value="Balls">Balls</option>
          <option value="Paddels">Paddels</option>
          <option value="Courts">Courts</option>
          <option value="Tournaments">Tournaments</option>
</select> 
</th>
        <th><select>
          <option value="">Vendor</option>
          <option value="Trainer">Trainer</option>
          <option value="Shop">Shop</option>
          <option value="Club">Club</option>
          <option value="Organisation">Organisation</option>
</select></th>
        <th>Description</th>
      </tr>

<tr>
        <td><img src='images/OfferTraining.jpg' alt='training offer' height='75' /></td>
        <td>Training</td>
        <td>Joan Bellustell 'Capri' (C.E.Padel SABADELL)</td>    
        <td><h6><b><i><a href='offers'>2 players, 2 hours per week for only, 4 weeks for only 15€ per hour</a></i></b></h6></td>
</tr>
<tr>
        <td><img src='images/OfferTraining2.jpg' alt='training offer' height='75' /></td>
        <td>Training</td>
        <td>Jhon Doowfet (C.P.Les Corts)</td>    
        <td><h6><b><i><a href='offers'>Individual sessions for only 25€ per hour</a></i></b></h6></td>
</tr>
<tr>
        <td><img src='images/OfferTraining3.jpg' alt='Paddels offers' height='75' /></td>
        <td>Paddels</td>
        <td>Padel4me</td>    
        <td><h6><b><i><a href='offers'>A big discount -25% for all our paddels!</a></i></b></h6></td>
</tr>


    </table>


</div>